@model Charm.Models.BlogPost

@{
    ViewBag.Title = "Details";
    }

<h2>@Html.DisplayFor(model => Model.Title)</h2>

<!-- Page Content -->

<div class="container">
    
    <div class="row">
        
        <div class="col-md-8">

            <div class="move"></div>

                        <h2>@Html.DisplayFor(model => Model.Title)</h2>

                               
                                   
                                <div class="remove-space">
                                    By Jessica Ansong on @Html.DisplayFor(modelItem => Model.Created)
                                </div>
            
                                <div class="move"></div>
                                
                                @if (Model.MediaUrl != null)
                                {
                                    <img class="img-responsive" src="@Model.MediaUrl" alt="" />
                                }

                       

                                    <div class="move_2">
                                        @Html.Raw(Model.Blog)
                                    </div>
            
                                    
                   
                    </div> <!--col-lg-8 ends-->

                </div><!--/row ends-->

            </div><!--/container ends-->

