@using PagedList;
@using PagedList.Mvc;

@model PagedList<Charm.Models.BlogPost>

@{
    ViewBag.Title = "Index";
}

 <!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="page-header">
                Blog
            </h1>

            <!-- Blog Entry -->
            @foreach (var item in Model)
            {  
            <h2>
                @Html.DisplayFor(ModelItem=> item.Title)
            </h2>
            <p>
                by Jessica Ansong
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on @Html.DisplayFor(modelItem=>item.Created)</p>
            @*<hr />*@
    <div class="abc">
        <p>
            @Html.Raw(item.Blog)

            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Details", new { item.Slug})'">Read More</button>
        </p>
    </div>
            }
           
    </div>
    <!-- /.row -->
    <hr>
      
    </div>
</div>
<!-- /.container -->

@section scripts{
<script src="/JQueryDotDotDot/Ellipsis.js"></script>
<script src="/JQueryDotDotDot/jquery.dotdotdot.js"></script>

<script>
    $(window).load(function () {
    //$(document).ready(function(){
        $('.backstretch').remove();
        //console.log("In document ready");
        $(".abc").dotdotdot({
            ellipsis: '. . . ',
            wrap: 'word',
            watch: true,
            height: 100,
            maxHeight: 100
        });
    });
</script>
}

<div class="col-sm-8">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

